# to ignore the generated artifacts
*.html linguist-generated
*.js linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
# some patterns from https://github.com/alexkaratarakis/gitattributes/
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text
